.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-self: left;
    scroll-behavior: smooth;
}

.product {
    display: grid;
    justify-self: left;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(50,50,50,.075)
}

button {
    margin: 0 0 5px 0px;
}

.product__searchBar {
    width: 300px;
}

.product__details {
    display: flex;
}

.purchase__button {
    padding: 15px;
    background-color: rgba(50,50,50,.075);
    min-height: 94%;
    background-color: rgba(0, 255, 255, 0.35);
    vertical-align: bottom;
    font-weight: 700;
}

.purchases {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-self: left;
    scroll-behavior: smooth;
}

.purchase {
    display: grid;
    justify-self: left;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(50,50,50,.075)
}