.employees {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: left;
    scroll-behavior: smooth;
}

.employee {
    display: grid;
    justify-self: left;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(50,50,50,.075)
}

.employee__link {
    color: #404040;
    text-decoration: none;
    font-weight:700
  }