.customers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: left;
    scroll-behavior: smooth;
}

.customer {
    display: grid;
    justify-self: left;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(50,50,50,.075)
}

.customer__link {
    color: #404040;
    text-decoration: none;
    font-weight:700
}

.customer__footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

.customer__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}

.loyalty__update {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60%;
}

.btn-loyalty {
    height: min-content;
    margin: 9% 0 ;
}