.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: italic;
    font-size: 115%;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__link {
    color: #404040;
    text-decoration: none;
    background-color: rgba(250, 234, 214, .5);
    padding: 2px 5px;
  }